PUBLIC_API_PORT = 8000
API_PORT = 7000
API_PORT_2 = 7001
POSTGRES_HOST = 172.26.88.116
POSTGRES_PORT = 5432
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_DB = summary
MSSQL_HOST = 192.168.0.29
MSSQL_USERNAME = 
MSSQL_PASSWORD = 
MSSQL_DB = maindb
EXPRESS_API_URL = https://ects.unicosm.ru/api/v4/botx/notifications/direct
EXPRESS_API_TOKEN = SFMyNTY.g2gDbQAAACQ2ZWNjMDdlMC05Nzc2LTVkNDktYjBkZi1lY2MxOGRjODY4NDhuBgArnEYunQFiAAFRgA.a1VTQ7wq6d7iKobMaH1Ol4MW-vjWX0eDwqW2ZIU6D38
KLP_TECHNOLOGIST_CHAT_ID = 5856d0d7-c0cc-5d5e-b4a6-8108a569d827
PSK_TECHNOLOGIST_CHAT_ID = 5856d0d7-c0cc-5d5e-b4a6-8108a569d827
KLP_PACKAGING_CHAT_ID = 5856d0d7-c0cc-5d5e-b4a6-8108a569d827
PSK_PACKAGING_CHAT_ID = 5856d0d7-c0cc-5d5e-b4a6-8108a569d827
DATABASE_URL_PG = postgresql://admin:password@172.25.28.100:5432/summary?schema=public

# clear migrations in pg
# set DATABASE_URL_PG=postgresql://admin:password@172.25.163.68:5432/summary?schema=public && npx prisma migrate resolve --applied 0_init

## 1. remove migrations 
## 2. Run
## set DATABASE_URL=postgresql://admin:password@172.25.163.68:5432/summary?schema=public &&  pnpm exec prisma migrate diff --from-empty --to-schema-datamodel prisma/schema.prisma --script > init.sql
## 3. Put init.sql to /migrations/0_init as migration.sql
## 4. Run
## set DATABASE_URL=postgresql://admin:password@172.25.163.68:5432/summary?schema=public && pnpm exec prisma migrate resolve --applied 0_init
