API_PORT = 7000 
MSSQL_HOST = 192.168.0.29
MSSQL_USERNAME = 
MSSQL_PASSWORD = 
MSSQL_DB = maindb


# clear migrations in pg
# set DATABASE_URL_PG=postgresql://admin:password@172.25.163.68:5432/summary?schema=public && npx prisma migrate resolve --applied 0_init

## 1. remove migrations 
## 2. Run
## set DATABASE_URL=postgresql://admin:password@172.25.163.68:5432/summary?schema=public &&  pnpm exec prisma migrate diff --from-empty --to-schema-datamodel prisma/schema.prisma --script > init.sql
## 3. Put init.sql to /migrations/0_init as migration.sql
## 4. Run
## set DATABASE_URL=postgresql://admin:password@172.25.163.68:5432/summary?schema=public && pnpm exec prisma migrate resolve --applied 0_init
